body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}
.hedder{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    color: #2e2f42;
}
.logo{
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    color: #4d5ae5;
    text-transform: uppercase;
    text-decoration: none;
}
.logo-cursive{
    color: #2e2f42;
}
.header-list {
    list-style-type: none;
}
.header-list .link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-decoration: none;
}
.contact-list {
    list-style-type: none;
}
.contact-list .link-contact{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-decoration: none;
}
.contact-list .link-contact:hover,
.contact-list .link-contact:active{
    text-decoration: underline;
}
    /* Hero */
.hero{
    background-color: #2e2f42;
}
.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.hero-button{
    background-color: #4d5ae5;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
    /* Features section 1 */
.features{
    color: #2e2f42;
}
.fetures-list{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.fetures-list .features-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.fetures-list .features-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
    /* Portfolio */
 .portfolio-card{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
 }
 .portfolio-card .portfolio-card-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }
   
 .portfolio-card .portfolio-card-paragraf{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
   /* Footer */
 .page-footer{
    background-color: #2e2f42;
 }
 .logo-footer{
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    color: #4d5ae5;
    text-transform: uppercase;
    text-decoration: none;
 }
 .logo-fooetr-cursive{
    color: #f4f4fd;
 }

 .footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin: 0 auto;
 }